# Ignore everything in this directory by default.
*

# Keep this ignore file itself.
!.gitignore

# Allow the scripts directory and its contents.
!scripts/
!scripts/**

# Allow the robot debug console and its contents.
!robot_debug_console/
!robot_debug_console/**

# Allow the robot debug console and its contents.
!weight/
!weight/**

# 独立零售抓取网页与控制模块。
!retail_grasp/
!retail_grasp/**

